.btn {
    border: 1px solid color-mix(in srgb, var(--text-color) 20%, transparent);
    border-radius: 2px;
    padding: 0.6em 1.2em;

    background-color: color-mix(
            in srgb,
            var(--background-color) 85%,
            var(--text-color)
    );

    color: var(--text-color);
    cursor: pointer;
}

/* Hover */
.btn:hover {
    background-color: color-mix(
            in srgb,
            var(--background-color) 70%,
            var(--text-color)
    );
}


.player {
    display: flex;
    align-items: stretch; /* This ensures albumArt and wrapper are the same height */
    gap: 20px; /* Optional spacing between art and controls */
    height: 200px;
}

.albumArt {
    height: 100%;
    object-fit: contain;
    min-width: 0;
    flex-shrink: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.sliderRow,
.buttonsRow {
    display: flex;
    gap: 10px;
    overflow: visible;
}

.currentTime,
.duration {
    flex-shrink: 0;
    width: 40px;
    text-align: center;
}

.seeker {
    flex: 1;
}

.volumeContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: color-mix(in srgb, var(--text-color) 5%, transparent);
    color: var(--text-color);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 5px;
}
